
*,
*:after,
*:before {
	box-sizing: border-box;
}

html,body {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}


.wrapper {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
    border:3px solid black;
    height:800px;
}

h1 {
	text-align: center;
}

.box {
	height: 500px;
	background-color: #e7e7e7;
	border: 1px solid rgba(0,0,0,0.87);
}

/*#box1 {
  background-color: skyblue;
}
#box2 {
    background-color: orange;}*/

/* Add Custom CSS Below this line */
/*header {
  background-color: #4267b2;
  height: 30px;
    margin-bottom: 12px;
}*/
footer {
 /* background-color: rgba(0,0,0,0.87);
  height: 30px;*/
    margin-top: 12px;
}

#wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}
#header{
        height: 42px;
        width:100%;
}

#main,
#sidebar {
  height: 800px;
}
#menu{
        height:auto;
}

#main { background-color: orange; }

#menu { background-color: pink; }
#sidebar { background-color: yellow; }
#main,
#menu,
#sidebar {
  background-color: #e9ebee;
}
#header{
    background-color:#4267b2;
        width: 100%;
        height: 42px;
}
    
b{
        color:#365899;
        display:inline;
}

.form-control{
    line-height: 18px;
    padding:3px 0 0;
    font-size: 14px;
    text-overflow:ellipsis;
    height:23px;
    color: #1d2129;
    background-color: white;
    padding-top: 0;
    -webkit-font-smoothing : antialiased;
    width: auto;
    z-index: 1;
}

input{ 
        width:42px;
        -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    -webkit-appearance: textfield;
        word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-rendering: auto;
    display: inline-block;
    text-align: star;
    margin-top: 7px;
    font: 13.3333px Arial;
    -webkit-writing-mode: horizontal-tb;
    }
.white-text {
  color: white !important;
}
._585- ._4w98._4w97, {
    
        background: #4080ff;
}
._585- ._4w98{
    
    border: none;
    border-radius: 0 2px 2px 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0 16px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
        z-index: 1;  }
._517h, {
            color: #4b4f56;
}
.dog{
    color: inherit;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    height: 27px;
    line-height: 28px;
            white-space: nowrap;
}
#header ul .glyphicon {
    font-size: 20px;
        color: black;
        
}
.pull-right {
    float: right!important;
}
.list-heading{
        padding:14px 15px 0 15px;
        font-size: 12px
}
.inline{
        display:inline;
        font-size: 15px;
        
}
.badge{
        background-color:rgba(169, 202, 222, 0.09);
        color:#758B99;
       
}
.panel-body .glyphicon  {
        
    margin-left: 10px;
    margin-right: 4px;
}
.icon-arrow-right {
float: right;
margin-top: 2px;
margin-right: -6px;
}
.saju{
        font-size: 15px;
        color:#758B99;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
.image-post {
    margin-bottom: 15px;
}
#main {
    overflow: scroll;
}
#main::-webkit-scrollbar {
    display: none;
}
.nav nav-pills nav-stacked{
        margin-right: 5px;
        color:#1d2129;
}
.abc{
         color: #365899;
    cursor: pointer;
    text-decoration: none;

        word-wrap: break-word;
}
h3{
        color: #90949c!important;
}
.badge{
        float: right;
}
.fa fa-newspaper-o{
        
        color: dodgerblue;
        font-size: 15px;
}
.media-body b{
        color:#365899;
        
}
.media-body span{
        color:#365899;
        
}
input{
        width:508px;
        height:32px;
        
}
.image1{
        
        padding-right:10px !important;
}
body{
        background-color: #dfe3ee;
}
#sidebar b{
        color:#90949c;
        font-size:13px;
        line-height: 13px;
        
}
.aaa{
        color:#4267b2;
        
}

#wire1{
        color:#365899;
}
#wire2{
        color:#365899;
}
.panel-body span{
        float:right;
        color:#365899;
}
.arohi{
        color:#365899; !important;
        display: inline-block;
        margin-bottom: 15px;
        margin-left: 10px;
        padding-bottom: 5px;
}
#3m{
        color:#365899; !important;
}
.panel-body img{
        margin-bottom: 13px;
        margin-left: 5px;
}
.panel-body button{
        color: black;
} 
.sappy{
        color: #365899 !important;
        display: inline-block;
        margin-bottom: 15px;
        margin-left: 10px;
        padding-bottom: 5px;
}
.nimra{
        color: #365899 !important;
        display: inline-block;
        margin-bottom: 15px;
        margin-left: 10px;
        padding-bottom: 5px;

}
.wire3{
        color:#90949c !important;
}
.zero{
        font-size:12px !important;
        display: inline-block;
          
        
    padding: 0 12px 12px;
}
input #search{
        background: :url("https://l.facebook.com/l.php?u=http%3A%2F%2Fi.imgur.com%2FoHTqIVG.png&h=ATMmAeqRii8O9iPN3yZJB7N1et8h2w2kKVKrZIKoOMWLAzdlk6CzoFXjDJETM57BtmzPyCqkGWygnJokh7lovEG_YhI4X-gTZw3Ojij-aLiQ2WYB5ay6HBJTkvFm8aCyU8iB25ksgspXdA");

        border:o;
        
}
